services:
  #  python-backend:
  #    build: ./Back-end
  #    container_name: python_backend
  #    ports:
  #      - "9090:9090"
  #    environment:
  #      - MONGO_URI=mongodb://mongodb:27017/
  #      - QDRANT_HOST=qdrant
  #      - QDRANT_PORT=6333
  #    depends_on:
  #      - mongodb
  #      - qdrant
  #    restart: always

  mongodb:
    image: mongo:7
    container_name: mongodb_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_db
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: always

  redis:
    image: redis:alpine
    container_name: redis_mq
    ports:
      - "6379:6379"
    restart: always

volumes:
  mongo_data:
  qdrant_data:
